/* -- 0. Responsive web design setup */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Base styles */
:root {
  --dark-grey: #1b1b32;
  --light-grey: #f5f6f7;
  --golden-yellow: #fecc4c;
  --yellow: #ffcc4c;
  --gold: #feac32;
  --orange: #ffac33;
  --dark-orange: #f89808;
  /* Colors */
  --color-primary: rgb(236, 159, 25);
  --color-text: #333;

  /* Typography */
  --font-family-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-family-heading: 'Open Sans', Arial, sans-serif;
  --font-family-code: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-size-base: 1.6rem;

  /* Spacing Scale (based on 1rem = 10px) */
  --space-xs: 0.4rem; /* 4px */
  --space-sm: 0.8rem; /* 8px */
  --space-md: 1.6rem; /* 16px */
  --space-20: 2rem; /* 20px */
  --space-lg: 3.2rem; /* Example: 32px */
  --space-xl: 4.8rem; /* Example: 48px */

  /* variable values */
  --navbar-height-svw: 15rem;
  --navbar-height-mvw: 12rem;
}

/* Typeography */

html {
  font-size: 62.5%; /* This makes 1rem = 10px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--space-md); /* Use your spacing variable */
  line-height: 1.5; /* Headings often have tighter line height than body text */
  font-family: var(--font-family-heading, var(--font-family-body)); /* Use a separate variable if desired */
  font-weight: bold;
}

body {
  font-family: var(--font-family-body);
  padding: 2rem;
}

p {
  padding: var(--padding-sm);
}

a {
  text-decoration: none; /* Remove default underline */
  /* Add :hover styles later */
}

/* Layout */

/* --- 1. BASE MOBILE STYLES (Default) --- */

/* Layout */

#markdown-input {
  width: 100%;
  height: 100px;
}
#html-output,
#preview {
  height: 100px;
  display: inline-block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: auto;
  white-space: pre-wrap;
  background-color: #f9f9f9;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 2rem;
  width: 100%;
  padding: 2rem;
  text-align: center;
  font-size: x-large;
  background-color: var(--dark-grey);
}

/* Utility Classes */

/* State Styles */

/* --- 2. Responsive Styles */

/* Media queries for tablets and larger devices */

@media (min-width: 550px) {
}

@media (min-width: 600px) {
  #markdown-input,
  #html-output,
  #preview {
    height: 200px;
    margin: 0;
  }
  #container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
}

@media (min-width: 768px) {
  /* Layout */

  /* Utility Classes */

  /* State Styles */
}
